<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<th:block th:include="~{fragments/head}"></th:block>
<body id="page-top">
<!-- Navigation-->
<th:block th:include="~{fragments/nav}"></th:block>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1>Upload Successful</h1>

    <th:block  th:object="${video}">
        <div class="row">
            <h3 th:text="*{videoName}"></h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls controlsList="nodownload">
                    <source th:src="*{videoUrl}" type="video/mp4">
                </video>
            </div>
            <a th:href="@{/video/addRating/{videoName}(videoName =*{videoName})}">Моля за вашата оценка</a>



        </div>
    </th:block>
</main>


</body>
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Дома6ното 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">

                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>

            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->

</html>